<footer id="footer" class="light narrow">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="nav nav-pills visible-sm visible-xs" style="font-size:14px;padding:10px;text-align:center">
          <a href="/app">כניסה ללווים</a> |
          <a href="/app/#/register">רישום ללווים</a> |
          <a href="https://credito.co.il/about.html">אודות</a> |
          <a href="https://credito.co.il/security.html">אבטחת מידע</a> |
          <a href="https://credito.co.il/contact.html">צור קשר</a> |
          <a href="https://credito.co.il/privacy.html">הסכם פרטיות ותנאי שימוש</a>
        </div>

        <div class="col-md-1 hidden-xs hidden-sm">
          <!--<img src="assets/img/CoT-ev.png" width="100%">-->
        </div>

        <div class="col-md-7">
          <ul class="nav nav-pills hidden-sm hidden-xs" style="font-size:14px;padding-top:10px;">
            <li>
              <a href="app">כניסה ללווים</a>
            </li>
            <li>
              <a href="app/#/register">רישום ללווים</a>
            </li>
            <li>
              <a href="https://credito.co.il/about.html">אודות</a>
            </li>
            <li>
              <a href="https://credito.co.il/security.html">אבטחת מידע</a>
            </li>
            <li>
              <a href="https://credito.co.il/contact.html">צור קשר</a>
            </li>
            <li>
              <a href="https://credito.co.il/privacy.html">הסכם פרטיות ותנאי שימוש</a>
            </li>
          </ul>
        </div>

        <div class="hidden-md hidden-lg col-xs-2">
          <!--<img src="assets/img/CoT-ev.png" width="100%">-->
        </div>


        <div class="col-md-1 col-xs-6">
          <ul class="social-icons">
            <li class="facebook">
              <a href="http://www.facebook.com" target="_blank" title="פייסבוק">פייסבוק</a>
            </li>
            <li class="mail">
              <a href="mailto:support@credito.co.il" target="_blank" title="צור קשר">צור קשר</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2 col-md-offset-1 col-xs-4">
          <a href="{{CONFIG.SITE_URL}}" class="">
            <img alt="Credito" class="img-responsive" src="assets/img/temp-logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
