
<header id="header" class="narrow">
  <div class="container">
    <div class="logo col-md-2">
      <!--a href="{{CONFIG.SITE_URL}}"></a-->
      <a href="{{CONFIG.SITE_URL}}">
        <img class="main-logo" alt="Porto" src="assets/img/temp-logo.png" style=" max-height:62px;">
      </a>
    </div>
    <div class="navbar-collapse nav-main-collapse collapse">
      <div class="container" style="margin-top:26px;">
        <nav class="nav-main mega-menu">
          <ul class="nav nav-pills nav-main" id="mainMenu">
            <li class="button">
              <a class="button" style="font-size: 20px;" href="https://credito.co.il/about.html">אודותינו</a>
            </li>
            <li class="button">
              <a class="button" style="font-size: 20px;" href="https://credito.co.il/team.html">מי אנחנו?</a>
            </li>
            <li class="button">
              <a class="button" style="font-size: 20px;" href="https://credito.co.il/queans.html">שאלות ותשובות</a>
            </li>
            <li class="button">
              <a class="button" style="font-size: 20px;" href="https://credito.co.il/contact.html">צור קשר</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
