<div class="bs-wizard">
    <div class="col-xs-2 bs-wizard-step {{stepsList.step1}}"><!-- complete, active, disabled -->
        <div class="progress"><div class="progress-bar"></div></div>
        <a class="bs-wizard-dot"></a>
        <div class="text-center bs-wizard-stepnum">{{'STEP.GETTINGLOAN' | translate}}</div>
    </div>

  <div class="col-xs-2 bs-wizard-step {{stepsList.step2}}"><!-- complete, active, disabled -->
    <div class="progress"><div class="progress-bar"></div></div>
    <a class="bs-wizard-dot"></a>
    <div class="text-center bs-wizard-stepnum">{{'STEP.DETAILS' | translate}}</div>
  </div>

  <div class="col-xs-2 bs-wizard-step {{stepsList.step3}}"><!-- complete -->
    <div class="progress"><div class="progress-bar"></div></div>
    <a class="bs-wizard-dot"></a>
    <div class="text-center bs-wizard-stepnum">{{'STEP.SALARY' | translate}}</div>
  </div>

    <div class="col-xs-2 bs-wizard-step {{stepsList.step4}}"><!-- complete -->
        <div class="progress"><div class="progress-bar"></div></div>
        <a class="bs-wizard-dot"></a>
        <div class="text-center bs-wizard-stepnum">{{'STEP.BANK_ACCOUNT' | translate}}</div>
    </div>

  <div class="col-xs-2 bs-wizard-step {{stepsList.step5}}"><!-- active -->
    <div class="progress"><div class="progress-bar"></div></div>
    <a class="bs-wizard-dot"></a>
    <div class="text-center bs-wizard-stepnum">{{'STEP.UPLOAD_DOCUMENTS' | translate}}</div>
  </div>

  <div class="col-xs-2 bs-wizard-step {{stepsList.step6}}"><!-- active -->
    <div class="progress"><div class="progress-bar"></div></div>
    <a class="bs-wizard-dot"></a>
    <div class="text-center bs-wizard-stepnum">{{'STEP.FINISH' | translate}}</div>
  </div>

</div>
