<div class="upload upload-snippet">
  <span ng-show="item.name == 'UPLOAD.Salary'" class="help help-upload glyphicon glyphicon-question-sign" data-name="FirstSalary" tabindex="1"  tb-tooltip title="{{'HELP_MESSAGES.SALARY' | translate}}"></span>
  <span ng-show="item.name == 'UPLOAD.SpouseSalary'" class="help help-upload glyphicon glyphicon-question-sign" data-name="SpouseSalary" tabindex="1"  tb-tooltip title="{{'HELP_MESSAGES.SPOUSE_SALARY' | translate}}"></span>
  <span ng-show="item.name == 'UPLOAD.BankPrints'" class="help help-upload glyphicon glyphicon-question-sign" data-name="id" tabindex="1"  tb-tooltip title="{{'HELP_MESSAGES.BANK_PRINTS' | translate}}"></span>
  <form name="uploadFormElement" enctype="multipart/form-data">

    <div ng-show="removed[$index]" class="alert alert-success">{{'UPLOAD.DOCUMENT_REMOVED_SUCCESSFULLY' | translate}}</div>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <h4>{{item.name | translate}} <span>{{item.comment | translate}}</span></h4>
      </div>
      <div class="col-md-6 col-xs-6 dynamic-row">
        <div ng-repeat="file in item.values track by file.attributeValueId" class="upload-parent-container" ng-class="['uploaded-file-container',
                    {'selected-file-position': item.status == 'upload'},
                    {'uploaded-file-position': item.status == 'pending' || item.status == 'approved'}]"
             ng-hide="item.status == 'init'"><!--Uploaded/Selected file actions-->
          <div class="file">
            <span>
              <span class="progress{{$index}} filename upload-label">
                <a title="Click to download {{file.value}}"  ng-click="downloadFile(file.attributeValueId, file.value)">{{file.value}}</a>
              </span>
              <a ng-hide="status" ng-click="confirmRemoveFile(file, $parent.$index, $index)" value="{{file.value}}" class="remove-file glyphicon glyphicon-remove" title="Remove {{file.value}}" data-toggle="modal-delete" data-target="#confirm-delete"></a>


            </span>
          </div>
          <div class="upload-parent-container{{$index}}"></div>
        </div>
        <span ng-hide="status" class="add-upload-button" ng-click="addFile(item.attrId, $index, $event)"></span>
      </div>
    </div>

  </form><!--end Uploaded/Selected file actions-->

</div>
