<div id="containerLoans">
    <div class="row">
        <h4>לוח סילוקין משוער</h4>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover last-account-payments" style="direction: ltr; text-align: right">
            <thead>
            <tr>
                <th>האם בוצע בהצלחה?</th>
                <th>יתרת סגירה</th>
                <th>תשלום ריבית</th>
                <th>תשלום קרן</th>
                <th>סה"כ תשלום</th>
                <th>יתרת פתיחה</th>
                <th>תאריך</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td>54,545</td>
                <td>273</td>
                <td>0</td>
                <td>273</td>
                <td>     54,545 </td>
                <td>01/02/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   109,091 </td>
                <td>           545 </td>
                <td>1</td>
                <td>           545 </td>
                <td>   109,091 </td>
                <td>01/03/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   163,636 </td>
                <td>           818 </td>
                <td>2</td>
                <td>           818 </td>
                <td>   163,636 </td>
                <td>01/04/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   218,182 </td>
                <td>        1,091 </td>
                <td>3</td>
                <td>        1,091 </td>
                <td>   218,182 </td>
                <td>01/05/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   272,727 </td>
                <td>        1,364 </td>
                <td>4</td>
                <td>        1,364 </td>
                <td>   272,727 </td>
                <td>01/06/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   327,273 </td>
                <td>        1,636 </td>
                <td>5</td>
                <td>        1,636 </td>
                <td>   327,273 </td>
                <td>01/07/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   381,818 </td>
                <td>        1,909 </td>
                <td>6</td>
                <td>        1,909 </td>
                <td>   381,818 </td>
                <td>01/08/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   436,364 </td>
                <td>        2,182 </td>
                <td>7</td>
                <td>        2,182 </td>
                <td>   436,364 </td>
                <td>01/09/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   490,909 </td>
                <td>        2,455 </td>
                <td>8</td>
                <td>        2,455 </td>
                <td>   490,909 </td>
                <td>01/10/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>   545,455 </td>
                <td>        2,727 </td>
                <td>9</td>
                <td>        2,727 </td>
                <td>   545,455 </td>
                <td>01/11/2016</td>
            </tr>
            <tr>
                <td></td>
                <td>      600,000  </td>
                <td>                3,000  </td>
                <td>10</td>
                <td>        3,000 </td>
                <td>      600,000  </td>
                <td>01/12/2016</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>