<div class="container">
    <h2>שאלות ותשובות</h2>
    <div class="row" id="faq">
        <div class="row">
            <div class="panel-group" id="FAQAccordion">
                <div class="panel panel-default" ng-repeat="f in FAQModel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#FAQAccordion" href="#parentCategory_{{f.id}}">{{f.categoryName}}</a>
                        </h4>
                    </div>
                    <div id="parentCategory_{{f.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel-group" id="FAQAccordionSubcategory_{{$index}}">
                                <div class="panel panel-default" ng-repeat="s in f.subCategories">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#FAQAccordionSubcategory_{{$parent.$index}}" href="#subCategory_{{s.id}}">{{s.categoryName}}</a>
                                        </h4>
                                    </div>
                                    <div id="subCategory_{{s.id}}" parentId="{{s.parentId}}" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="panel-group" id="FAQAccordionAnswers_{{s.id}}">
                                                <div class="panel panel-default" ng-repeat="a in s.answers">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#FAQAccordionAnswers_{{a.categoryId}}" href="#answers_{{a.id}}">{{a.title}}</a>
                                                        </h4>
                                                    </div>
                                                    <div id="answers_{{a.id}}" articleId="{{a.id}}" categoryId="{{a.categoryId}}" class="panel-collapse collapse {{a.tag}}">
                                                        <div class="panel-body">
                                                            <div ng-bind-html="a.text | sanitize"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-repeat="pa in f.answers">
                                <div class="faq-answer-container">
                                    <a class="faq-title {{pa.tag}}" articleId="{{pa.id}}" categoryId="{{pa.categoryId}}">{{pa.title}}</a>
                                    <div class="">
                                        <div ng-bind-html="pa.text | sanitize"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>