<div class="row loan-payments">
    <table class="table table-bordered table-hover" style="text-align: right">
        <thead>
        <tr>
            <th>תאריך</th>
            <th>יתרת פתיחה</th>
            <th>סה"כ תשלום</th>
            <th>תשלום קרן</th>
            <th>תשלום ריבית</th>
            <th>סטטוס</th>
            <th>יתרת סגירה</th>
            <th>בוצע בהצלחה?</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="payments in loanPaymentsModel">
            <td>{{payments.date | date: 'dd-MM-yyyy'}}</td>
            <td>{{payments.openingBalance | number : fractionSize}}</td>
            <td>{{payments.totalPayment | number : fractionSize}}</td>
            <td>{{payments.fundPayment | number : fractionSize}}</td>
            <td>{{payments.interestPayment | number : fractionSize}}</td>
            <td>{{'SELECT_OPTIONS.' + payments.status | translate}}</td>
            <td>{{payments.closeBalance | number : fractionSize}}</td>
            <td>{{payments.isSucceeded}}</td>
        </tr>
        </tbody>
    </table>
</div>