<div class="row" id="documentsAndReports">
    <div class="col-md-3">
        <ul class="documentsList">
            <li ng-click="drawFile('6.pdf')" class="ng-scope">
                <a href="" class="">תנועות בחשבון</a>
            </li>
            <li ng-click="drawFile('1.pdf')" class="ng-scope">
                <a href="" class="">אישור יתרות סוף שנה</a>
            </li>
            <li ng-click="drawFile('4.pdf')" class="ng-scope">
                <a href="" class="">סיכום עמלות</a>
            </li>
            <li ng-click="drawFile('2.pdf')" class="ng-scope">
                <a href="" class="">הסכם</a>
            </li>
            <li ng-click="drawFile('5.pdf')" class="ng-scope">
                <a href="" class="">שטר חוב</a>
            </li>
            <li ng-click="drawFile('3.pdf')" class="ng-scope">
                <a href="" class="">חיוב חשבון</a>
            </li>
            <li ng-click="drawFile('7.pdf')" class="ng-scope">
                <a href="" class="">תקנון</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row preview" style="min-height: 400px;">
            <span class="text" ng-hide="fileURL">תצוגה מקדימה של המסמך</span>
            <iframe id="pdfRow" style="width: 100%; height:700px; overflow:hidden;" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        </div>
    </div>
</div>