<div id="restore" class="container change form-horizontal"> <!--restore-->
    <h2>{{'REGISTRATION.CHANGE_PASSWORD' | translate}}:</h2>
    <form name="change">

        <p class="alert alert-danger" ng-show="error">Error</p>
        <p class="alert alert-success" ng-show="success">Success</p>

        <div class="form-group" ng-class="{'has-error' : change.password.$error.passwordMinSixSymbols}">
            <label for="password" class="col-sm-4 control-label">{{'REGISTRATION.PASSWORD' | translate}}</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" name="password" maxlength="30"
                       placeholder="{{'REGISTRATION.PASSWORD' | translate}}" ng-model='password' password-min-six-symbols required />
                <span class="help-block" ng-show="change.password.$error.passwordMinSixSymbols">{{'ERRORS.REGISTRATION.PASSWORD' | translate}}</span>
                <br />
                <label for="passwordStrength" class="label label-primary">{{'REGISTRATION.PASSWORD_STRENGTH' | translate}}</label>
                <div id="passwordDescription"></div>
                <div id="passwordStrength" class="form-control strength0"></div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : change.retrypass.$error.pwmatch || change.retrypass.$error.passwordMinSixSymbols}">
            <label for="retrypass" class="col-sm-4 control-label">{{'REGISTRATION.REPEAT_PASSWORD' | translate}}</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="retrypass" name="retrypass" maxlength="30"
                       placeholder="{{'REGISTRATION.REPEAT_PASSWORD' | translate}}" ng-model='retrypass' check-identical="password" password-min-six-symbols required  />
                <span class="help-block" ng-show="change.retrypass.$error.pwmatch">{{'ERRORS.REGISTRATION.PASSWORDS_NOT_MATCH' | translate}}</span>
                <span class="help-block" ng-show="change.retrypass.$error.passwordMinSixSymbols">{{'ERRORS.REGISTRATION.PASSWORD' | translate}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 "></label>
            <div class="col-sm-6">
                <button class="btn btn-primary" type="submit" ng-click="changePassword()" ng-disabled="!change.$valid">{{'BUTTONS.CHANGE' | translate}}</button>
            </div>
        </div>

    </form>
</div> <!--end restore-->
