<div id="search" class="">
    <div class="row">
        <div class=" col-lg-8 col-md-9 col-sm-12 col-xs-12">
            <div class="alert alert-success" ng-show="showSuccessMessage" role="alert">סטטוס השתנה בהצלחה</div>
            <h3>לווים בתהליך</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="חיפוש" ng-model="searchBorrower">
                </div>
            </form>
            <div class="table-responsive borrowers-table">
                <table class="table table-striped table-hover" style="max-width: none;">
                    <thead>
                        <tr>
                            <th ng-click="sortType = 'borrowerId'; sortReverse = !sortReverse">תעודת זהות</th>
                            <th ng-click="sortType = 'firstName'; sortReverse = !sortReverse">שם פרטי</th>
                            <th ng-click="sortType = 'lastName'; sortReverse = !sortReverse">שם משפחה</th>
                            <th ng-click="sortType = 'signedDate'; sortReverse = !sortReverse">מועד נתינת ההלוואה</th>
                            <th ng-click="sortType = 'status'; sortReverse = !sortReverse">סטטוס</th>
                            <th ng-click="sortType = 'nearestPaymentDate'; sortReverse = !sortReverse">מועד תשלום קרוב</th>
                            <th ng-click="sortType = 'consecutiveDelayedPaymentCount'; sortReverse = !sortReverse">מספר פיגורים</th>
                            <th ng-show="filterStatus == 'WaitingForApproval'" ng-click="sortType = 'WaitingForApproval'; sortReverse = !sortReverse">ממתין לאישור ע"י</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-class="{'clicked-row' : clickedBorrowerId == borrower.borrowerId}"
                        ng-show="borrower.borrowerStatus == filterStatus || borrower.loanApprovalStatus == filterStatus || borrower.loanRunningStatus == filterStatus || !filterStatus" ng-repeat="borrower in borrowersList | orderBy:sortType:sortReverse | filter:searchBorrower" ng-click="borrowerDetails(this)" username="{{borrower.userName}}">
                        <td>
                            <a>{{borrower.borrowerId}}</a>
                        </td>
                        <td>
                            <a>{{borrower.firstName}}</a>
                        </td>
                        <td>
                            <a >{{borrower.lastName}}</a>
                        </td>
                        <td>
                            <a >{{borrower.signedDate | date:'dd-MM-yyyy'}}</a>
                        </td>
                        <td>
                            <a ng-show="filterStatus">{{'SEARCH.' + filterStatus | translate}}</a>
                            <a ng-show="!filterStatus">{{'SEARCH.' + borrower.borrowerStatus | translate}}</a>

                        </td>
                        <td>
                            <a>{{borrower.nearestPaymentDate | date:'dd-MM-yyyy'}}</a>
                        </td>
                        <td>
                            <a>{{borrower.consecutiveDelayedPaymentCount}}</a>
                        </td>
                        <td ng-show="filterStatus == 'WaitingForApproval'">{{borrower.approveeFirstName + ' ' + borrower.approveeLastName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4">
            <div class="row" ng-show="loanClicked">
                <div id="loans">
                    <div class="">
                        <div class="">
                            <div class="">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist">

                                    <!--<li role="presentation">-->
                                        <!--<a href="#history" aria-controls="history" role="tab" data-toggle="tab">הסטורית אשראי</a>-->
                                    <!--</li>-->

                                    <!--<li role="presentation" ng-click="getBorrowerPayments()">-->
                                        <!--<a href="#payments" aria-controls="payments" role="tab" data-toggle="tab">לוח סילוקין</a>-->
                                    <!--</li>-->

                                    <li role="presentation" ng-click="getBorrowersDocuments()">
                                        <a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">מסמכים</a>
                                    </li>

                                    <li role="presentation" class="borrowers-details active">
                                        <a href="#borrower_{{id}}" aria-controls="borrower_{{id}}" role="tab" data-toggle="tab">פרטים אישיים</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">

                                    <div role="tabpanel" class="tab-pane" id="history">
                                        <div class="row">
                                            <h5 style="text-align: center" >פירוט הלוואות</h5>
                                            <table class="table table-bordered table-hover" style="direction: ltr">
                                                <thead style="background: #4f81bd;color: #fff;">
                                                <th>סטטוס</th>
                                                <th>סוג</th>
                                                <th>תקופה</th>
                                                <th>סכום</th>
                                                <th>האם היה פיגור</th>
                                                <th>תאריך ההלוואה</th>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>נפרעה</td>
                                                    <td>בולט</td>
                                                    <td>18</td>
                                                    <td>15,000</td>
                                                    <td>לא</td>
                                                    <td>1.2.13</td>
                                                </tr>
                                                <tr>
                                                    <td>בתהליך</td>
                                                    <td>בלון</td>
                                                    <td>72</td>
                                                    <td>75,000</td>
                                                    <td>לא</td>
                                                    <td>1.3.15</td>
                                                </tr>
                                                <tr>
                                                    <td>בפיגור</td>
                                                    <td>שפיצר</td>
                                                    <td>72</td>
                                                    <td>54,000</td>
                                                    <td>כן</td>
                                                    <td>1.4.15</td>
                                                </tr>
                                                </tbody>
                                            </table>


                                            <h5 style="text-align: center">פרטי הלוואה</h5>
                                            <table class="table table-bordered table-hover"  style="direction: ltr">
                                                <thead style="background: #4f81bd;color: #fff;">
                                                <th>תאריך התשלום</th>
                                                <th>אמצעי גביה</th>
                                                <th>סיבת הפיגור</th>
                                                <th>סטטוס</th>
                                                <th>תאריך</th>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>ניתנה הלוואה</td>
                                                    <td>1.4.15</td>
                                                </tr>
                                                <tr>
                                                    <td>13.7.15</td>
                                                    <td>שיחה</td>
                                                    <td>אין כיסוי</td>
                                                    <td>פיגור בתשלומים</td>
                                                    <td>1.7.15</td>
                                                </tr>
                                                <tr>
                                                    <td>-</td>
                                                    <td>מכתב</td>
                                                    <td>אין כיסוי</td>
                                                    <td>מכתב התראה</td>
                                                    <td>1.8.15</td>
                                                </tr>
                                                </tbody>
                                            </table>


                                            <table class="table table-bordered table-hover">
                                                <thead style="background: #4f81bd;color: #fff;">
                                                <th style="text-align: center">הערות</th>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>התיק הועבר לטיפול ע"י עורך דין. המכתב נשלח ללקוח בדואר רשום</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="payments">
                                        <div class="row">
                                            <table class="table table-striped table-hover" style="max-width: none; font-size: 11px;">
                                                <thead>
                                                    <th>תאריך תשלום</th>
                                                    <th>תשלום</th>
                                                    <th>ריבית</th>
                                                    <th>קרן</th>
                                                    <th>עמלה</th>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="payment in borrowerPayments.payments">
                                                    <td>{{payment.paymentDate | date:'dd-MM-yyyy' }}</td>
                                                    <td>{{payment.payment | number : fractionSize}}</td>
                                                    <td>{{payment.interestPayment | number : fractionSize}}</td>
                                                    <td>{{payment.fund | number : fractionSize}}</td>
                                                    <td>{{payment.commission | number : fractionSize}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="documents">
                                        <div class="row">
                                            <ul style="margin: 12px;">
                                                <li ng-repeat="cat in files" style="margin: 12px 0">
                                                    {{'UPLOAD.' + cat.name | translate}}
                                                    <ul>
                                                        <li ng-repeat="file in cat.values" style="margin: 7px 0; overflow: hidden">
                                                            <a href="" class="glyphicon glyphicon-download" ng-click="downloadFile(file.attributeValueId, file.value)"></a>
                                                            <a href="" ng-click="downloadFile(file.attributeValueId, file.value)" title="תצוגה מקדימה של המסמך" style="color: #337ab7;">{{file.value}}</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane active borrowers-details" id="borrower_{{id}}" style="direction: ltr">
                                        <div class="panel panel-default">
                                            <div class="panel-body">

                                                <h1 class="panel-title">{{'USER_DETAILS.PERSONAL_INFO' | translate}}</h1>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.FIRST_NAME' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.FirstName.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.LAST_NAME' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.LastName.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.ID_NUMBER' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.IDNumber.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.MARTIAL_STATUS' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.MaritalStatus}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.PERSONS_INHOUSE' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.PersonsInHouse.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.CHILDREN_NUMBER' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.ChildrenNumber.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.GENDER' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.Gender}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.YEAR_OF_BIRTH' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.BirthDate.value}}
                                                    </div>
                                                </div>

                                                <h2 class="panel-title">{{'USER_DETAILS.CONECTIVITY_DETAILS' | translate}}</h2>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.EMAIL' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.Email.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.PHONE' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.PhoneNumber.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.CITY' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.City.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.STREET' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.Street.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.BUILDING_NUMBER' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.BuildingNumber.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.APARTMENT_FLOOR' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.ApartmentFloor.value}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.APARTMENT_NUMBER' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.ApartmentNumber.value}}
                                                    </div>
                                                </div>

                                                <h1 class="panel-title">{{'USER_DETAILS.EMPLOYMENT' | translate}}</h1>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.PROFESSION' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.Profession}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.EDUCATION_STATUS' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.EducationStatus}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.EMPLOYMENT_STATUS' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.EmploymentStatus}}
                                                    </div>
                                                </div>

                                                <h1 class="panel-title">{{'USER_DETAILS.INCOME_AND_ASSETS' | translate}}</h1>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.TOTAL_FAMILY_INCOME' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.FamilyIncome.value  | number : fractionSize}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.HOUSING_OWNERSHIP' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.HouseOwnership}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.VEHICLE_OWNERSHIP' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.VehicleNumber.value | number : fractionSize}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.PERSONAL_INCOME' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.PersonalIncome.value | number : fractionSize}}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">{{'USER_DETAILS.TOTAL_DEBTS' | translate}}</label>
                                                    <div class="col-sm-8">
                                                        {{borrowerModel.userDetails.TotalDebt.value | number : fractionSize}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>